@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="light"] {
  --radius: 0.625rem;
  --background: #f9fafb;
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: #465fff;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: #667085;
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: transparent;
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --hover: #f2f4f7;
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

[data-theme="dark"] {
  --radius: 0.625rem;
  --background: #101828;
  --foreground: oklch(0.985 0 0);
  --card: #171f2e;
  --card-foreground: rgb(156 163 175);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: #465fff;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: #1d2939;
  --secondary-foreground: #98a2b3;
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: transparent;
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --hover: #1c2332;
  --sidebar: #101828;
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    box-sizing: border-box;
    @apply bg-background text-foreground;
  }
}

html {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

label.text-sm {
  font-size: 11px;
  text-transform: uppercase;
}

.box {
  @apply p-4 bg-card border rounded-lg text-card-foreground;
}

input,
select,
textarea,
option {
  @apply bg-input shadow-sm border p-2 rounded-lg w-full text-xs outline-none placeholder:text-xs h-[38px];
}
path {
  fill: inherit;
}

button.active,
a.active {
  background: color-mix(in oklab, var(--primary) 12%, transparent);
  color: color-mix(in oklab, var(--primary) 82%, transparent);
}

button.active:hover,
a.active:hover {
  background: color-mix(in oklab, var(--primary) 12%, transparent);
  color: var(--primary);
}

label,
table *:not(a) {
  @apply text-secondary-foreground;
}

table a {
  @apply text-foreground text-[14px];
}

button:hover {
  filter: brightness(110%);
}

div.fr-box * {
  @apply bg-transparent border-border;
}

div.fr-box.fr-basic .fr-wrapper {
  @apply bg-transparent border-border;
}
div.fr-toolbar .fr-newline {
  @apply bg-secondary;
}

div > button.fr-command {
  background-color: var(--secondary) !important;
}

.fr-toolbar .fr-command.fr-btn svg path {
  fill: var(--secondary-foreground) !important;
}

.fr-box.fr-basic .fr-element {
  color: unset !important;
}

div.fr-box a.fr-floating-btn {
  display: flex;
  margin-right: -10px;
}

#fr-logo {
  display: none !important;
}

div select {
  background: var(--input);
}
select option {
  color: var(--text-foreground);
  background-color: var(--secondary);
  border-color: transparent;
}

a.logo {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
}

.variant-table thead tr {
  @apply text-[11px] font-semibold;
}
.variant-table thead th {
  @apply min-w-[120px] font-semibold text-left;
}
.variant-table thead tr th > div > span {
  @apply w-max font-semibold text-[11px];
}
.variant-table thead tr th > div {
  @apply flex flex-col items-start w-full;
}

.variant-table thead tr button {
  @apply text-primary rounded font-light text-[10px] cursor-pointer hover:brightness-125 hover:shadow-sm shadow-primary w-max;
}

.variant-table tbody tr {
  @apply border-b;
}
.variant-table tbody tr td {
  @apply text-sm py-2 px-1;
}
.variant-table tbody tr td input {
  @apply h-[36px] text-xs outline-none rounded-sm;
}
.variant-table tbody tr td:first-child {
  @apply capitalize;
}

table.product tbody tr td {
  @apply w-max;
}
table.product tbody tr td a {
  @apply w-max inline-block;
}

aside.mobile {
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: 0;
  z-index: 10000;
  border-top: 1px solid var(--border);
  flex-direction: row;
  display: flex;
  padding: 0;
}

.variant-table-buttons button {
  @apply border rounded px-2 py-1 bg-background flex gap-2 items-center hover:shadow-sm shadow-card-foreground text-[13px] w-max;
}
